<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:23:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecastTest.searchWeatherForeCastDataBySelectingForeCastOption()[pri:2, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">searchWeatherForeCastDataBySelectingForeCastOption</td> 
  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:23:08</td>   <td>-7837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherForecastTest.searchWeatherForeCastDataOfGivenLocation()[pri:1, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">searchWeatherForeCastDataOfGivenLocation</td> 
  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:23:19</td>   <td>3213</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WeatherForecastTest.setupAfterClass()[pri:0, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">&lt;&lt;setupAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:23:13</td>   <td>-3423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WeatherForecastTest.setupBefore()[pri:0, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">&gt;&gt;setupBefore</td> 
<td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:23:13</td>   <td>-3423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WeatherForecastTest.setupBefore()[pri:0, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">&gt;&gt;setupBefore</td> 
<td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>23/08/13 02:22:40</td>   <td>-36498</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WeatherForecastTest.setupBeforeClass()[pri:0, instance:visualcrossing.selenium.tests.WeatherForecastTest@48aca48b]">&gt;&gt;setupBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@335708295</td>   <td></td> </tr>
</table>
